<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.backend.mapper.FlowerMapper">

    <!-- 插入flower记录并返回自增ID -->
    <insert id="insertFlower" useGeneratedKeys="true" keyProperty="id">
        INSERT INTO flower (name, description, original_price, discount_price, is_on_sale, created_at, updated_at)
        VALUES (#{name}, #{description}, #{originalPrice}, #{discountPrice}, #{isOnSale}, NOW(), NOW())
    </insert>

</mapper>