/* 在全局样式中（例如 index.css 或 App.css）设置 */
html, body {
  height: 100%;
  margin: 0;
  padding: 0;
  overflow: auto; /* 显示滚动条 */
  background-color: rgb(240, 242, 245);
  font-family: 'Jost', sans-serif;
}

#root {
  min-width: 1200px; /* 确保内容宽度至少为视口宽度 */
  display: flex;
  flex-direction: column;
}